* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --red: #B12727;
    --blue: #06216E;
}

body {
    background-color: grey;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.preloader {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    z-index: 99;
}

.preloader img {
    width: 300px;
}

.preloader-done {
    opacity: 0;
    visibility: hidden;
}

/* Navigation */

nav {
    background: white;
    position: fixed;
    width: 100%;
    z-index: 60;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 12vh;
    width: 80%;
    margin: 0 10%;
}

.logo {
    text-align: center;
}

.logo-title {
    color: var(--red);
    letter-spacing: -1px;
    font-family: "Script MT", serif;
    font-size: 50px;
    font-weight: bolder;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    width: 66.7%;
}

.nav-list li {
    list-style: none;   
}

.nav-list a {
    background: 
        linear-gradient(
            to bottom, 
            var(--blue) 100%,
            var(--blue) 0
        );
    background-position: 100% 0;
    background-repeat: repeat-x;
    background-size: 4px 4px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: light;
    color: black;
    padding: 10px;
    transition: background-size 150ms ease-in, color 150ms, box-shadow 150ms ease-in;
}

.nav-list a:hover {
    background-size: 4px 50px;
    color: #fff;
    box-shadow: 1px 2px 5px rgb(63, 63, 63);
}

.burger {
    display: none;
    position: absolute;
    right: 3em;
}

.burger div {
    width: 30px;
    height: 3px;
    margin: 5px;
    background: black;
    transition: all 300ms ease;
}

.dropdown {
    background: var(--blue);
    position: absolute;
    margin-top: 9px;
    padding: 10px;
    color: #ddd;
    box-shadow: 1px 3px 3px rgb(63, 63, 63);
    transition: height .5s ease;
    overflow: hidden;
}

.dropdown:not(.active) {
    display: none;
}

.item-active {
    background: 
        linear-gradient(
            to bottom, 
            var(--blue) 100%,
            var(--blue) 0
        ) !important; 
    background-position: 100% 0 !important; 
    background-repeat: repeat-x !important;
    background-size: 4px 50px !important;
    box-shadow: 1px 2px 3px rgb(63, 63, 63) !important;
    color: #fff !important;
}

@media screen and (max-width: 898px){
    body {
        overflow-x: hidden;
    }

    nav {
        background: var(--blue);
    }

    .nav-list {
        position: absolute;
        right: 0px;
        height: 88vh;
        top: 12vh;
        background: var(--blue);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 500ms ease-in;
        display: inline-block;
        box-shadow: -2px 3px 3px rgb(63, 63, 63);
    }

    .nav-list li {
        opacity: 0;
        padding: 20px 10px;
        
    }

    .nav-list a {
        background: 
            linear-gradient(
                to bottom, 
                var(--red) 100%,
                var(--red) 0
            );
        background-position: 100% 0;
        background-repeat: repeat-x;
        background-size: 4px 4px;
    }

    .item-active {
        background: 
            linear-gradient(
                to bottom, 
                var(--red) 100%,
                var(--red) 0
            ) !important; 
        background-position: 100% 0 !important; 
        background-repeat: repeat-x !important;
        background-size: 4px 50px !important;
        color: #fff;
    }

    .burger {
        display: block;
    }

    .dropdown {
        position: relative;
        background: var(--red);
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navListFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    } to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* Header */

header {
    width: 100%;
    background-image: url('../img/doris.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
}

.title {
    font-size: 5em;
    color: var(--red);
    font-family: 'Script MT', serif;

}

.subtitle {
    color: #fff;
    font-size: 25px;
    font-family: 'Script MT', serif;

}

.header a {
    background: 
        linear-gradient(
            to bottom, 
            var(--red) 100%,
            var(--red) 0
        );
    background-position: 100% 0;
    background-repeat: repeat-x;
    background-size: 4px 4px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: light;
    color: white;
    padding: 10px;
    transition: background-size 150ms ease-in, color 150ms, box-shadow 150ms ease-in;
    position: absolute;
    bottom: 4em;
}

.header a:hover {
    background-size: 4px 50px;
    color: #fff;
    box-shadow: 1px 2px 5px rgb(63, 63, 63);
}

/* Filler */
.filler {
    height: 1000px;
    background: #fff;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: var(--red);
}

.footer h2 {
    text-transform: uppercase;
    font-size: 1.5em;
    text-align: center;
    font-weight: lighter;
    color: #111;
    padding-bottom: 10px;
}

.footer {
    display: flex;
    margin: 20px auto;
    width: 80%;
}

.contact {
    width: 33.33%;
}

.buffet {
    width: 33.33%;
}

.map {
    width: 33.33%;
}

.copyright {
    padding: 10px;
    background: #fff;
    color: #666;
    text-align: center;
}